.HTML-TO-JSON-SELECT {
    box-sizing: border-box !important;
    border: 2px solid rgba(153,204,51,0.8) !important;
}
.HTML-TO-JSON-SELECT .HTML-TO-JSON-SETUP {
    height: 30px !important;
    position: absolute !important;
    background-color: rgba(153,204,51,0.8) !important;
    z-index: 10000;
    margin-left: -2px;
    color: #fff !important;
    padding: 5px;
    box-sizing: border-box !important;
    line-height: 20px !important;
    font-size: 14px !important;
}
.HTML-TO-JSON-SELECT .HTML-TO-JSON-SETUP .HTML-TO-JSON-DELETE{
    cursor: pointer;
    font-size: 18px !important;
    line-height: 18px !important;
    margin-top: 1.5px;
    /* padding-top: 2px; */
    display: block;
    float: right;
    /* color: #f00; */
}
.HTML-TO-JSON-SELECT .HTML-TO-JSON-SETUP .HTML-TO-JSON-DELETE:hover{
    color: #CC3366;
}
.HTML-TO-JSON-SELECT .HTML-TO-JSON-SETUP label
{
    margin-right: 5px;
    line-height: 20px !important;
    font-size: 14px !important;
    color: #fff !important;
    font-family: Helvetica, sans-serif !important;
}